{{ template "layout/base.html" . }}

{{define "head"}}
<title>Обслуживание</title>
{{end}}

{{define "body"}}

  <!-- /.card-body -->
  <div class="card card-primary">
    <div class="card-header with-border">
      <h3 class="card-title">Действия перезапуска</h3>
      <div class="pull-right card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    {{template "common/alert.html" .}}
    <div class="card-body">
    <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
      <div class="card-body">
        <div class="form-group">
            <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-primary" style="width: 145px;" title="Перезапуск">Перезапустить сервер</a>
            &nbsp; <b>Условный</b> перезапуск сервера OpenVPN применит новую конфигурацию и переинициализирует все активные клиентские сессии.
        </div>

        <div class="form-group">
            <a href="{{urlfor "DangerController.RestartContainer" ":key" "openvpn-server"}}" class="btn btn-primary" style="width: 145px;" title="Перезапуск контейнера OpenVPN">Перезапустить контейнер</a> 
            &nbsp; <b>Полный</b> перезапуск контейнера OpenVPN для повторного применения правил фаервола и перезагрузки сервера OpenVPN. Занимает больше времени, чем условный перезапуск. 
        </div>

        <div class="form-group">
          <a href="{{urlfor "DangerController.RestartContainer" ":key" "openvpn-ui"}}" class="btn btn-primary" style="width: 145px;" title="Перезапуск контейнера OpenVPN-UI">Перезапустить UI</a> 
          &nbsp; <b>Перезапуск контейнера OpenVPN-UI.</b> Текущая веб-сессия будет отключена.
        </div>

        {{ .xsrfdata }} 
      </div> 
    <!-- /.card-body -->
    </form>
  </div>
  </div>

<div class="card card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">Действия удаления</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <span><b style="color: #dd4b39;">ОПАСНАЯ ЗОНА!</b>  Вы не сможете откатить действия из этого раздела!</span><br>
  <!-- form start -->
  <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
    <div class="card-body">
      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_pki"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить PKI" onclick="return confirm('Вы уверены, что хотите удалить PKI?');">Удалить PKI</a>
        &nbsp; <span class="text-muted">Удалить PKI, все ключи сервера OpenVPN и клиентские сертификаты. <b>Это не позволит клиентам подключаться с текущими сертификатами!</b></span>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_ovpn"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить все файлы *.ovpn" onclick="return confirm('Вы уверены, что хотите удалить все файлы *.ovpn?');">Удалить .ovpn</a>
        &nbsp; <span class="text-muted">Удалить файлы &quot;*.ovpn&quot; из каталога &quot;/etc/openvpn/clients&quot;.</span>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_static_clients"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Резервации статических IP" onclick="return confirm('Вы уверены, что хотите удалить все резервации статических IP?');">Удалить статические</a>
        &nbsp; <span class="text-muted">Удалить все резервации статических IP из каталога &quot;/etc/openvpn/staticclients&quot;.</span>
      </div>

      <div class="card-body">
        <div class="form-group">
          <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_all"}}" class="btn btn-danger btn-primary" style="width: 125px;" title="Удалить всё" onclick="return confirm('Вы уверены, что хотите удалить ВСЁ?');">УДАЛИТЬ ВСЁ</a>
          &nbsp; <span class="text-muted">Эта кнопка выполнит все шаги выше по порядку — удалит PKI, ключи сервера, клиентские сертификаты и файлы &quot;*.ovpn&quot;.</span>
        </div>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_ovpn_db"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить базу OpenVPN-UI" onclick="return confirm('Вы уверены, что хотите удалить базу OVPN?');">Сброс БД</a>
        &nbsp; <span class="text-muted">Удалить базу данных OpenVPN-UI. <b>После этого перезапустите OpenVPN-UI.</b> База будет создана заново при следующем запуске контейнера OpenVPN UI.</span>
      </div>

      {{ .xsrfdata }}
    </div>
      <!-- /.form -->
  </form>
    <!-- /.card-body -->
  </div>
</div>

  <div class="card card-danger">
    <div class="card-header with-border">
      <h3 class="card-title">Действия инициализации</h3>
      <div class="pull-right card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <span><b style="color: #dd4b39;">ОПАСНАЯ ЗОНА!</b> Вы не сможете откатить действия из этого раздела!</span><br>
      <span class="text-muted">Будьте осторожны, необходима соответствующая квалификация! <a href="https://github.com/OpenVPN/easy-rsa/blob/master/README.quickstart.md" target="_blank">Краткое руководство EasyRSA</a>, <a href="https://github.com/OpenVPN/easy-rsa/tree/master/doc" target="_blank">Подробная документация EasyRSA</a>.</span>
    <!-- form start -->
    <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
      <div class="card-body">
        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "copy_vars"}}" class="btn btn-primary" style="width: 125px;" title="Копировать переменные EasyRSA" onclick="return confirm('Вы уверены, что хотите скопировать переменные EasyRSA?');">EasyRSA VARs</a>
          &nbsp; <span>Скопировать переменные EasyRSA из &quot;./openvpn/config/easy-rsa.vars&quot; в &quot;./easy-rsa/pki/vars&quot;.</span>
        </div>

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_crl"}}" class="btn btn-primary" style="width: 125px;" title="Сгенерировать CRL для openvpn" onclick="return confirm('Вы уверены, что хотите сгенерировать CRL?');">Generate CRL</a>
          &nbsp; <span>Сгенерировать новый список отозванных сертификатов (CRL), выполнив &quot;easyrsa gen-crl&quot;.</span>
        </div>   

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "init-pki"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Инициализировать PKI" onclick="return confirm('Вы уверены, что хотите инициализировать PKI?');">Initialize PKI</a>
          &nbsp; <span class="text-muted">Инициализировать PKI, выполнив &quot;easyrsa init-pki&quot;.</span>
        </div>   

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "build_ca"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Создать CA" onclick="return confirm('Вы уверены, что хотите создать CA?');">Build CA</a>
          &nbsp; <span class="text-muted">Создать центр сертификации (CA), выполнив &quot;easyrsa build-ca nopass&quot;.</span>
        </div>     

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_req"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Создать сервер" onclick="return confirm('Вы уверены, что хотите создать сервер?');">Build Server</a>
          &nbsp; <span class="text-muted">Сгенерировать новый серверный сертификат, ключ и файлы шифрования, выполнив &quot;easyrsa gen-req &amp; sign-req server nopas&quot;.</span>
        </div>     

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_dh"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Сгенерировать ключ Диффи-Хеллмана" onclick="return confirm('Вы уверены, что хотите сгенерировать DH-ключ?');">Generate DH</a>
          &nbsp; <span class="text-muted">Сгенерировать новый ключ Диффи-Хеллмана, выполнив &quot;easyrsa gen-dh&quot;. Это может занять <b>до 10 минут</b>. Ничего не зависло, дождитесь завершения.</span>
        </div>    

        <div class="form-group">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_ta"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Сгенерировать TA-ключ для openvpn" onclick="return confirm('Вы уверены, что хотите сгенерировать TA-ключ?');">Generate TA</a>
          &nbsp; <span class="text-muted">Сгенерировать новый TA-ключ OpenVPN, выполнив &quot;openvpn --genkey --secret ta.key&quot;.</span>
        </div>     

        <div class="card-body">
          <div class="form-group">
            <a href="{{urlfor "DangerController.InitPKI" ":key" "init_all"}}" class="btn btn-danger btn-primary" style="width: 125px;" title="Инициализировать всё" onclick="return confirm('Вы уверены, что хотите ИНИЦИАЛИЗИРОВАТЬ ВСЁ?');">INITIALIZE ALL</a>
            &nbsp; <span class="text-muted">Эта кнопка выполнит все шаги выше по порядку — скопирует переменные EasyRSA и создаст PKI, CA, сервер, DH, TA и CRL.</span>
          </div>
        </div>
        {{ .xsrfdata }}
      </div>
      <!-- /.card-body -->
    </form>
    </div>

  </div>
<!-- /.card -->
{{end}}
