{{ template "layout/base.html" . }}

{{define "head"}}
<title>Обслуживание</title>
{{end}}

{{define "body"}}

  <!-- /.card-body -->
  <div class="card card-primary">
    <div class="card-header with-border">
      <h3 class="card-title">Действия перезапуска</h3>
      <div class="pull-right card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    {{template "common/alert.html" .}}
    <div class="card-body">
    <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
      <div class="card-body">
        <div class="form-group">
            <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-primary" style="width: 145px;" title="Перезапустить">Перезапуск сервера</a>
            &nbsp; <b>Условный</b> перезапуск сервера OpenVPN применит новую конфигурацию и повторно инициирует все активные клиентские сессии.
        </div>

        <div class="form-group">
            <a href="{{urlfor "DangerController.RestartContainer" ":key" "openvpn-server"}}" class="btn btn-primary" style="width: 145px;" title="Перезапустить контейнер OpenVPN">Перезапуск контейнера</a> 
            &nbsp; <b>Полный</b> перезапуск контейнера OpenVPN для повторного применения правил брандмауэра и перезапуска сервера OpenVPN. Занимает больше времени, чем условный перезапуск. 
        </div>

        <div class="form-group">
          <a href="{{urlfor "DangerController.RestartContainer" ":key" "openvpn-ui"}}" class="btn btn-primary" style="width: 145px;" title="Перезапустить контейнер OpenVPN-UI">Перезапуск UI</a> 
          &nbsp; <b>Перезапуск контейнера OpenVPN-UI.</b> Текущая веб-сессия будет отключена.
        </div>

        {{ .xsrfdata }} 
      </div> 
    <!-- /.card-body -->
    </form>
  </div>
  </div>

<div class="card card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">Действия удаления</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <span><b style="color: #dd4b39;">ОПАСНАЯ ЗОНА!</b>  Вы не сможете отменить действия из этого раздела!</span><br>
  <!-- form start -->
  <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
    <div class="card-body">
      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_pki"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить PKI" onclick="return confirm('Вы уверены, что хотите удалить PKI?');">Удалить PKI</a>
        &nbsp; <span class="text-muted">Удалить PKI, все серверные ключи OpenVPN и клиентские сертификаты. <b>Это предотвратит подключение клиентов с текущими сертификатами!</b></span>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_ovpn"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить все файлы *.ovpn" onclick="return confirm('Вы уверены, что хотите удалить все файлы *.ovpn?');">Удалить .ovpn</a>
        &nbsp; <span class="text-muted">Удалить файлы &quot;*.ovpn&quot; из каталога &quot;/etc/openvpn/clients&quot;.</span>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_static_clients"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Статические IP-резервации" onclick="return confirm('Вы уверены, что хотите удалить все статические IP-резервации?');">Удалить статические</a>
        &nbsp; <span class="text-muted">Удалить все статические IP-резервации из каталога &quot;/etc/openvpn/staticclients&quot;.</span>
      </div>

      <div class="card-body">
        <div class="form-group">
          <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_all"}}" class="btn btn-danger btn-primary" style="width: 125px;" title="Удалить всё" onclick="return confirm('Вы уверены, что хотите удалить всё?');">УДАЛИТЬ ВСЁ</a>
          &nbsp; <span class="text-muted">Эта кнопка выполнит все шаги выше по очереди — удалит PKI, серверные ключи, клиентские сертификаты и файлы &quot;*.ovpn&quot;.</span>
        </div>
      </div>

      <div class="form-group">
        <a href="{{urlfor "DangerController.DeletePKI" ":key" "remove_ovpn_db"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Удалить базу данных OpenVPN-UI" onclick="return confirm('Вы уверены, что хотите удалить базу данных OVPN?');">Удалить БД</a>
        &nbsp; <span class="text-muted">Удалить базу данных OpenVPN-UI. <b>После удаления перезапустите OpenVPN-UI.</b> База данных будет создана заново при следующем запуске контейнера OpenVPN-UI.</span>
      </div>

      {{ .xsrfdata }}
    </div>
      <!-- /.form -->
  </form>
    <!-- /.card-body -->
  </div>
</div>

  <div class="card card-danger">
    <div class="card-header with-border">
      <h3 class="card-title">Действия инициализации</h3>
      <div class="pull-right card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <span><b style="color: #dd4b39;">ОПАСНАЯ ЗОНА!</b> Вы не сможете отменить действия из этого раздела!</span><br>
      <span class="text-muted">Будьте осторожны, необходимы знания! <a href="https://github.com/OpenVPN/easy-rsa/blob/master/README.quickstart.md" target="_blank">Краткое руководство EasyRSA</a>, <a href="https://github.com/OpenVPN/easy-rsa/tree/master/doc" target="_blank">Подробная документация EasyRSA</a>.</span>
      <div class="alert alert-secondary mt-3" role="alert">
        <strong>Памятка по инициализации</strong><br>
        Выполните действия ниже последовательно:<br>
        <ol class="mb-0">
          <li>Скопируйте переменные EasyRSA (кнопка <em>EasyRSA VARs</em>).</li>
          <li>Сгенерируйте новый список отозванных сертификатов (CRL).</li>
          <li>Инициализируйте PKI.</li>
          <li>Создайте центр сертификации (CA).</li>
          <li>Сгенерируйте серверный сертификат и подпишите запрос.</li>
          <li>Сгенерируйте ключ Диффи-Хеллмана.</li>
          <li>Сгенерируйте TA-ключ OpenVPN.</li>
          <li>Кнопка <em>INITIALIZE ALL</em> выполнит все шаги по порядку автоматически.</li>
        </ol>
      </div>
    <!-- form start -->
    <form role="form" action="{{urlfor "DangerController.Post"}}" method="post">
      <div class="card-body">
        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "copy_vars"}}" class="btn btn-primary" style="width: 125px;" title="Скопировать переменные EasyRSA" onclick="return confirm('Вы уверены, что хотите скопировать переменные EasyRSA?');">EasyRSA VARs</a>
          <div class="ml-2">
            {{with .pkiStatus.Vars}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span>Скопировать переменные EasyRSA из &quot;./openvpn/config/easy-rsa.vars&quot; в &quot;./easy-rsa/pki/vars&quot;.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_crl"}}" class="btn btn-primary" style="width: 125px;" title="Сгенерировать CRL" onclick="return confirm('Вы уверены, что хотите сгенерировать CRL?');">Сгенерировать CRL</a>
          <div class="ml-2">
            {{with .pkiStatus.CRL}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span>Сгенерировать новый список отозванных сертификатов (CRL) командой &quot;easyrsa gen-crl&quot;.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "init-pki"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Инициализировать PKI" onclick="return confirm('Вы уверены, что хотите инициализировать PKI?');">Инициализация PKI</a>
          <div class="ml-2">
            {{with .pkiStatus.PKIConfig}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span class="text-muted">Инициализация PKI командой &quot;easyrsa init-pki&quot;.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "build_ca"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Создать CA" onclick="return confirm('Вы уверены, что хотите создать CA?');">Создать CA</a>
          <div class="ml-2">
            {{with .pkiStatus.CA}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span class="text-muted">Создание CA командой &quot;easyrsa build-ca nopass&quot;.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_req"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Создать сервер" onclick="return confirm('Вы уверены, что хотите создать сервер?');">Создать сервер</a>
          <div class="ml-2">
            {{with .pkiStatus.Server}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span class="text-muted">Создать новый серверный сертификат, ключ и файлы шифрования командой &quot;easyrsa gen-req & sign-req server nopass&quot;.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_dh"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Сгенерировать ключ Диффи-Хеллмана" onclick="return confirm('Вы уверены, что хотите сгенерировать ключ DH?');">Сгенерировать DH</a>
          <div class="ml-2">
            {{with .pkiStatus.DH}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span class="text-muted">Сгенерировать новый ключ Диффи-Хеллмана командой &quot;easyrsa gen-dh&quot;. Это может занять <b>до 10 минут</b>. Система не зависла — подождите.</span>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center">
          <a href="{{urlfor "DangerController.InitPKI" ":key" "gen_ta"}}" class="btn btn-warning btn-primary" style="width: 125px;" title="Сгенерировать TA-ключ для OpenVPN" onclick="return confirm('Вы уверены, что хотите сгенерировать TA-ключ?');">Сгенерировать TA</a>
          <div class="ml-2">
            {{with .pkiStatus.TA}}
            <span class="badge {{if .Exists}}badge-success{{else}}badge-danger{{end}}">{{if .Exists}}Создано{{else}}Создайте{{end}}</span>
            <small class="d-block text-muted">{{.Path}}</small>
            {{end}}
          </div>
          &nbsp; <span class="text-muted">Сгенерировать новый TA-ключ OpenVPN командой &quot;openvpn --genkey --secret ta.key&quot;.</span>
        </div>

        <div class="card-body">
          <div class="form-group">
            <a href="{{urlfor "DangerController.InitPKI" ":key" "init_all"}}" class="btn btn-danger btn-primary" style="width: 125px;" title="Инициализировать всё" onclick="return confirm('Вы уверены, что хотите инициализировать всё?');">INITIALIZE ALL</a>
            &nbsp; <span class="text-muted">Эта кнопка выполнит все шаги выше по порядку — скопирует переменные EasyRSA и создаст PKI, CA, сервер, DH, TA и CRL.</span>
          </div>
        </div>
        {{ .xsrfdata }}
      </div>
      <!-- /.card-body -->
    </form>
    </div>

  </div>
<!-- /.card -->
{{end}}
