{{ template "layout/base.html" . }}

{{define "head"}}
<title>Настройки сервера</title>
{{end}}

{{define "body"}}

<!-- /.card-body -->
<div class="card card-default">

  <div class="card-body">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <button type="button" style="width: 135px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal">Редактировать конфиг</button> &nbsp; &nbsp;
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="Условный перезапуск (SIGUSR1)">Перезапустить сервер</a>
      <span style="color:grey;"> &nbsp; Условный перезапуск сервера OpenVPN применит новую конфигурацию и переинициализирует все активные клиентские сессии.</span> 
    </div>
      <!-- /.card-body -->
  </form>
  </div>  
</div>

<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">Шаблон конфигурации
    </h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
    <p>Все опции перечислены в том же порядке, в котором будут сохранены в файл server.conf.</p>
  <form id="expert-form" role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="card-body">

      <!-- Commented for now as not used
      <div class="form-group">
       <label for="name">Management</label>
       <input type="text" class="form-control" name="Management" id="Management" placeholder="0.0.0.0 2080"
         value="{{ .Settings.Management }}">
       <span id="helpBlock" class="text-muted"></span>
      </div>
      -->

      <div class="form-group">
         <label for="name">Dev</label>
         <input type="text" selector="vformdata" class="form-control" name="Device" id="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
         <span class="text-muted"> Какой тип интерфейса использовать: туннель (tun) или мост (tap).
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Инфо</a>
         </span>
      </div>
             
      <div class="form-group">
        <label for="name">Port</label>
        <input type="text" selector="vformdata" class="form-control" name="Port" id="Port" placeholder="1194"
          value="{{ .Settings.Port }}">
        <span class="text-muted"> TCP/UDP-порт, на котором локальный сервер OpenVPN (контейнер) будет слушать.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Инфо</a>
       </span>
      </div>
                    
      <div class="form-group">
        <label for="name">Proto</label>
        <input type="text" selector="vformdata" class="form-control" name="Proto" id="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
        <span class="text-muted"> Сервер TCP или UDP.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Инфо</a>
       </span>
      </div>
                        
      <div class="form-group">
        <label for="name">Topology</label> <!-- <strong><span style="color:#337ab7" title="New format in this version">!</span></strong> -->
        <input type="text" selector="vformdata" class="form-control" name="OVConfigTopology" id="OVConfigTopology" placeholder="subnet"
         value="{{ .Settings.OVConfigTopology }}">
        <span class="text-muted"> Топология OpenVPN.
         <a href="https://community.openvpn.net/openvpn/wiki/Topology" target="_blank">Инфо</a>
        </span>
      </div>
              
      <div class="form-group">
        <label for="name">Keepalive</label>
        <input type="text" selector="vformdata" class="form-control" name="Keepalive" id="Keepalive" placeholder="10 120"
         value="{{ .Settings.Keepalive }}">
        <span id="helpBlock" class="text-muted"> Директива keepalive отправляет ping-сообщения по каналу, чтобы стороны знали о состоянии соединения.
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
        </span>
      </div>
              
      <div class="form-group">
        <label for="name">MaxClients</label>
        <input type="text" class="form-control" name="MaxClients" id="MaxClients" placeholder="100"
         value="{{ .Settings.MaxClients }}">
        <span id="helpBlock" class="text-muted"> Максимальное количество одновременно подключённых клиентов.</span>
      </div>

      <div class="form-group">
        <label for="name">User</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigUser" id="OVConfigUser" placeholder="nobody"
         value="{{ .Settings.OVConfigUser }}">
        <span id="helpBlock" class="text-muted"> Пользователь, от имени которого работает OpenVPN Server (только для *nix).
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">Инфо</a></span>
     </div>

     <div class="form-group">
        <label for="name">Group</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigGroup" id="OVConfigGroup" placeholder="nogroup"
         value="{{ .Settings.OVConfigGroup }}">
        <span id="helpBlock" class="text-muted"> Группа, от имени которой работает OpenVPN Server (только для *nix).
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">Инфо</a></span>
     </div>

     <div class="form-group">
      <label for="name">Client-Config-Dir</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
      <input type="text" class="form-control" name="OVConfigClientConfigDir" id="OVConfigClientConfigDir" placeholder="/etc/openvpn/staticclients"
       value="{{ .Settings.OVConfigClientConfigDir }}">
      <span id="helpBlock" class="text-muted"> Каталог, который сервер OpenVPN сканирует при каждом входящем подключении в поисках клиентского конфигурационного файла.
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">Инфо</a>
      </span>
    </div>
                
    <div class="form-group">
       <label for="name">Ifconfig-Pool-Persist</label>
       <input type="text" class="form-control" name="IfconfigPoolPersist" id="IfconfigPoolPersist" placeholder="pki/ipp.txt"
        value="{{ .Settings.IfconfigPoolPersist }}">
       <span id="helpBlock" class="text-muted"> Поддерживает соответствие клиент ↔ виртуальный IP. Используется для статических IP клиентов.
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
       </span>
    </div>
                
      <div class="form-group">
         <label for="name">CA</label>
         <input type="text" class="form-control" name="Ca" id="Ca" placeholder="pki/ca.crt"
          value="{{ .Settings.Ca }}">
         <span class="text-muted"> Корневой сертификат Центра сертификации (CA).
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#SettingupyourownCertificateAuthorityCAandgeneratingcertificatesandkeysforanOpenVPNserverandmultipleclients" target="_blank">Инфо</a>
         </span>
      </div>
                   
      <div class="form-group">
        <label for="name">Cert</label>
        <input type="text" class="form-control" name="Cert" id="Cert" placeholder="pki/issued/server.crt"
          value="{{ .Settings.Cert }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> Сертификат сервера.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">Инфо</a>
        </span>
      </div>
                     
      <div class="form-group">
        <label for="name">Key</label>
        <input type="text" class="form-control" name="Key" id="Key" placeholder="pki/private/server.key"
          value="{{ .Settings.Key }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> Приватный ключ сервера.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">Инфо</a>
        </span>
      </div>
                  
      <div class="form-group">
       <label for="name">Crl-verify</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
       <input type="text" class="form-control" name="Crl" id="Crl" placeholder="pki/crl.pem"
        value="{{ .Settings.Crl }}">
       <span id="helpBlock" class="text-muted"> Файл списка отозванных сертификатов (CRL).
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">Инфо</a>
       </span>
      </div>       
                 
      <div class="form-group">
        <label for="name">Dh</label>
        <input type="text" class="form-control" name="Dh" id="Dh" placeholder="pki/dh.pem"
          value="{{ .Settings.Dh }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> Файл параметров Диффи — Хеллмана.
        <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#GenerateDiffieHellmanparameters" target="_blank">Инфо</a>
        </span>
      </div>
               
      <div class="form-group">
        <label for="name">TLS-Crypt</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSControlChannel" id="TLSControlChannel" placeholder="tls-crypt pki/ta.key"
         value="{{ .Settings.TLSControlChannel }}">
        <span id="helpBlock" class="text-muted"> Ключ для TLS-аутентификации и шифрования управляющего канала. Полный формат опции (для отключения — закомментируйте #).
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
        </span>
      </div>
                
      <div class="form-group">
        <label for="name">TLS-Version-Min</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSMinVersion" id="TLSMinVersion" placeholder="tls-version-min 1.2"
         value="{{ .Settings.TLSMinVersion }}">
        <span id="helpBlock" class="text-muted"> Минимально допустимая версия TLS от пира. Полный формат опции (для отключения — закомментируйте #).
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
        </span>
      </div>
                 
      <div class="form-group">
        <label for="name">Remote-Cert-TLS</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSRemoteCert" id="TLSRemoteCert" placeholder="remote-cert-tls client"
         value="{{ .Settings.TLSRemoteCert }}">
        <span id="helpBlock" class="text-muted"> Опция безопасности для клиентов, гарантирующая, что хост — именно сервер. Полный формат опции (для отключения — закомментируйте #).
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
        </span>
      </div>      
                   
      <div class="form-group">
         <label for="name">Cipher</label>
         <input type="text" class="form-control" name="Cipher" id="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
         <span id="helpBlock" class="text-muted"> Шифр для пакетов дата-канала.
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
         </span>
      </div>
                
      <div class="form-group">
        <label for="name">Ncp-Ciphers</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigNcpCiphers" id="OVConfigNcpCiphers" placeholder="AES-256-GCM:AES-192-GCM:AES-128-GCM"
         value="{{ .Settings.OVConfigNcpCiphers }}">
        <span id="helpBlock" class="text-muted"> Список шифров, которые может использовать клиент.
         <a href="https://github.com/OpenVPN/openvpn/blob/master/doc/man-sections/cipher-negotiation.rst" target="_blank">Инфо</a>
        </span>
      </div>
                  
      <div class="form-group">
         <label for="name">Auth</label>
         <input type="text" class="form-control" name="Auth" id="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
         <span id="helpBlock" class="text-muted"></span>
      </div>

      <div class="form-group">
        <label for="name" title="New format in this version">Server (доверенная VPN-подсеть)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" selector="vformdata" class="form-control" name="Server" id="Server" placeholder="server 10.0.70.0 255.255.255.0"
         value="{{ .Settings.Server }}">
        <span id="helpBlock" class="text-muted"> В режиме сервера задаёт доверенную VPN-подсеть, из которой клиенты получают адреса «VLAN1». Для режима tap можно задать server-bridge.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">Инфо</a> 
         </span>
     </div>

      <div class="form-group">
        <label for="name">Route (гостевая VPN-подсеть)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" selector="vformdata" class="form-control" name="Route" id="Route" placeholder="route 10.0.71.0 255.255.255.0"
          value="{{ .Settings.Route }}">
        <span id="helpBlock" class="text-muted"> Используется для маршрутизации («route [Guest subnet]») к гостевой подсети «VLAN2».
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">Инфо</a> 
          </span>
      </div>

      <div class="form-group">
        <label for="name">Push Route (ваша домашняя подсеть)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" selector="vformdata" class="form-control" name="PushRoute" id="PushRoute" placeholder="push &quot;route 10.0.60.0 255.255.255.0&quot;"
          value="{{ .Settings.PushRoute }}">
        <span id="helpBlock" class="text-muted"> Пушит маршрут к домашней сети для клиентов «VLAN1» (доверенная VPN).
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#ExpandingthescopeoftheVPNtoincludeadditionalmachinesoneithertheclientorserversubnet" target="_blank">Инфо</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push DHCP (DNS Server 1)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" selector="vformdata" class="form-control" name="DNSServer1" id="DNSServer1" placeholder="push &quot;dhcp-option DNS 8.8.8.8&quot;"
          value="{{ .Settings.DNSServer1 }}">
        <span class="text-muted"> Настройка первого DNS-сервера для клиентов. Формат: push "dhcp-option DNS [IP]".
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">Инфо</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push DHCP (DNS Server 2)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" selector="vformdata" class="form-control" name="DNSServer2" id="DNSServer2" placeholder="push &quot;dhcp-option DNS 1.0.0.1&quot;"
          value="{{ .Settings.DNSServer2 }}">
        <span class="text-muted"> Настройка второго DNS-сервера для клиентов. Формат: push "dhcp-option DNS [IP]".
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">Инфо</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push Redirect-gateway</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="RedirectGW" id="RedirectGW" placeholder="push &quot;redirect-gateway def1 bypass-dhcp&quot;"
          value="{{ .Settings.RedirectGW }}">
        <span class="text-muted"> Если строка раскомментирована, сервер OpenVPN пушит клиенту маршрут по умолчанию, чтобы направлять весь интернет-трафик через VPN.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Routingallclienttrafficincludingweb-trafficthroughtheVPN" target="_blank">Инфо</a> </span>
      </div>

      <div class="form-group">
         <label for="name">Журнал сервера OpenVPN (Logfile)</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <input type="text" class="form-control" name="OVConfigLogfile" id="OVConfigLogfile" placeholder="/var/log/openvpn/openvpn.log"
          value="{{ .Settings.OVConfigLogfile }}">
        <span id="helpBlock" class="text-muted"> Файл, в который сервер OpenVPN будет записывать сообщения журнала.
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
        </span>
      </div>

      <div class="form-group">
         <label for="name">Уровень подробности логов сервера</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <input type="text" class="form-control" id="OVConfigLogVerbose" name="OVConfigLogVerbose" placeholder="3"
          value="{{ .Settings.OVConfigLogVerbose }}">
          <span id="helpBlock" class="text-muted"> Уровень подробности логов, генерируемых сервером OpenVPN (0–4).
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
          </span>
      </div>

      <div class="form-group">
         <label for="name">Файл статуса сервера OpenVPN</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <input type="text" class="form-control" name="OVConfigStatusLog" id="OVConfigStatusLog" placeholder="/var/log/openvpn/openvpn-status.log"
          value="{{ .Settings.OVConfigStatusLog }}">
         <span id="helpBlock" class="text-muted"> Файл, в который сервер OpenVPN будет записывать статус.
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#StatusFile" target="_blank">Инфо</a></span>
        </span>
      </div>

      <div class="form-group">
         <label for="name">Версия формата файла статуса OpenVPN</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <input type="text" class="form-control" name="OVConfigStatusLogVersion" id="OVConfigStatusLogVersion" placeholder="2"
          value="{{ .Settings.OVConfigStatusLogVersion }}">
         <span id="helpBlock" class="text-muted"> Версия формата файла отчёта статуса OpenVPN (полезно для openvpn-exporters).
          <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Инфо</a>
         </span>
      </div>

      <div class="form-group" id="auth-mode">
        <label>Режим аутентификации</label>
        <select name="FuncMode" id="FuncMode" class="form-control">
          <option value="0" {{if eq .Settings.FuncMode 0}}selected{{end}}>Классическая аутентификация (сертификат и опционально пароль)</option>
          <option value="1" {{if eq .Settings.FuncMode 1}}selected{{end}}>Двухфакторная аутентификация (2FA)</option>
        </select>
      </div>

      <div class="form-group" id="script-sec">
        <label for="ScriptSecurity">Script-security</label>
        <input type="text" selector="vformdata" class="form-control" name="ScriptSecurity" id="scriptsecurity" placeholder="Конфигурация 2FA" 
        value="{{if eq .Settings.FuncMode 0}} {{else}}script-security 2{{ end }}">
      </div>

      <div class="form-group" id="auth-user-pass-verify">
        <label for="UserPassVerify">Auth-user-pass-verify</label>
        <input type="text" selector="vformdata" class="form-control" name="UserPassVerify" id="userpassverify" placeholder="Конфигурация 2FA"
        value="{{if eq .Settings.FuncMode 0}} {{else}}auth-user-pass-verify /opt/app/bin/oath.sh via-file{{ end }}">
      </div>

      <div class="form-group">
         <label for="name">Произвольная опция №1</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <input type="text" class="form-control" name="CustomOptOne" id="CustomOptOne" placeholder="#Custom Option One"
          value="{{ .Settings.CustomOptOne }}">
         <span id="helpBlock" class="text-muted"> Произвольная опция для server.conf. Можно указать что угодно. Полный формат опции (для отключения — закомментируйте #). </span>
      </div>

      <div class="form-group">
         <label for="name">Произвольная опция №2</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <textarea class="form-control" name="CustomOptTwo" id="CustomOptTwo" placeholder="#Custom Option Two" 
         rows="2">{{ .Settings.CustomOptTwo }}</textarea>
         <span id="helpBlock" class="text-muted"> Произвольная опция для server.conf. Можно указать что угодно. Полный формат опции (для отключения — закомментируйте #). </span>
      </div>

      <div class="form-group">
         <label for="name">Произвольная опция №3</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
         <textarea class="form-control" name="CustomOptThree" id="CustomOptThree" placeholder="#Custom Option Three" 
         rows="3">{{ .Settings.CustomOptThree }}</textarea>
         <span id="helpBlock" class="text-muted"> Произвольная опция для server.conf. Можно указать что угодно. Полный формат опции (для отключения — закомментируйте #). </span>
      </div>

     {{ .xsrfdata }}

      <button type="submit" style="width: 135px;" class="btn btn-primary" onclick="return confirm('Вы уверены, что хотите сохранить новый конфигурационный файл?\nТекущая конфигурация будет перезаписана!');">Сохранить конфиг</button>
    </div>
    
      <!-- /.card-body -->
 </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/server.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVConfigController.Edit"}}" method="post">
              <div class="card-body">
              
                <div class="form-group">
                    <div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">Обратите внимание</b>
                        </a>
                      </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span class="text-muted">Ручные изменения конфигурации не обновят шаблоны в базе OpenVPN UI.</span><br>
                        <span class="text-muted">Рекомендуется вносить изменения через шаблон конфигурации сервера.</span><br>
                      </div>
                    </div>
                    <br><textarea type="text" class="form-control my-textarea" name="ServerConfig" id="ServerConfig" spellcheck="false" rows="15">{{ .ServerConfig }}</textarea>
                </div>
                
                {{ .xsrfdata }}
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal">Закрыть</button> &nbsp; &nbsp;
                <button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm('Вы уверены, что хотите сохранить вручную изменённый конфигурационный файл?\nШаблон обновлён не будет!'); window.location.reload();">Сохранить</button>
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<!-- /.card -->
{{end}}

<script>
  const funcModeSelect = document.getElementById('FuncMode');
  const scriptSecurityDiv = document.getElementById('script-sec');
  const userPassVerifyDiv = document.getElementById('auth-user-pass-verify');
  const scriptSecurityInput = document.getElementById('scriptsecurity');
  const userPassVerifyInput = document.getElementById('userpassverify');

  function checkFuncMode() {
    if (funcModeSelect.value === '0') {
      scriptSecurityDiv.style.display = 'none';
      userPassVerifyDiv.style.display = 'none';
      scriptSecurityInput.value = ' ';
      userPassVerifyInput.value = ' ';
    } else {
      scriptSecurityDiv.style.display = 'block';
      userPassVerifyDiv.style.display = 'block';
      scriptSecurityInput.value = 'script-security 2';
      userPassVerifyInput.value = 'auth-user-pass-verify /opt/app/bin/oath.sh via-file';
    }
  }
  funcModeSelect.addEventListener('change', checkFuncMode);

window.addEventListener('load', () => {
  checkFuncMode();
  if (localStorage.getItem("theme") === "dark") {
    createEditor("ServerConfig", "550px", "clouds_midnight", "ovpn", false);
  } else {
    createEditor("ServerConfig", "550px", "clouds", "ovpn", false);
  }
});
</script>
