{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN — Профиль</title>
{{end}}

{{define "body"}}


<div class="card">
  <div class="card-header d-flex p-0">
    <ul class="nav nav-pills ml-left p-2">
      <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Редактировать профиль</a></li>
      {{ if .Userinfo.IsAdmin }} <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Создание новых профилей</a></li> {{ else }}{{ end }}
      {{ if .Userinfo.IsAdmin }} <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Управление профилями</a></li> {{ else }}{{ end }}
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <!--TAB1-->
      <div class="tab-pane active" id="tab_1">
        <h3>Редактирование профиля {{ .Userinfo.Name }}</h3>{{ if .Userinfo.IsAdmin }}<span class="text-muted"> Вы администратор. Вау!</span> {{ else }}{{ end }}
        {{template "common/alert.html" .}}
        <form id="ProfileEdit" role="form" action="{{urlfor "ProfileController.Post"}}" method="post">
          <div class="card-body">

            <div class="form-group">
              <label class="col-form-label" for="login">Логин</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" id="login" name="Login" placeholder="{{ .profile.Login }}" value="{{ .profile.Login }}" disabled>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "Name" }}has-error{{end}}">
              <label class="col-form-label" for="name">Имя</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-plus"></i></span>
                </div>
                <input type="text" class="form-control" id="name" name="Name" placeholder="Введите имя" value="{{ .profile.Name }}">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "Email" }}has-error{{end}}">
              <label class="col-form-label" for="email">Адрес эл. почты</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" id="email" name="Email" placeholder="Введите email" value="{{ .profile.Email }}">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Email" }}</span>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "Password" }}has-error{{end}}">
              <label class="col-form-label" for="password">Новый пароль</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="password" name="Password" placeholder="Введите пароль">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Password" }}</span>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "Repassword" }}has-error{{end}}">
              <label class="col-form-label" for="Repassword">Повторите пароль</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="Repassword" name="Repassword" placeholder="Повторите пароль">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Repassword" }}</span>
              </div>
            </div>

            {{ .xsrfdata }}
          </div>

          <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary" form="ProfileEdit" style="width: 135px;">Сохранить профиль</button>
          </div>
        </form>
      </div>
      

      <!--TAB2-->
      <div class="tab-pane" id="tab_2">
        <h3>Создать новый профиль</h3>
        {{template "common/alert.html" .}}
        <form id="ProfileCreate" role="form" action="{{urlfor "ProfileController.Create"}}" method="post">
          <div class="card-body">

            <div class="form-group">
              <label class="col-form-label" for="newlogin">Логин</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" id="newlogin" name="NewLogin" placeholder="Введите логин">
              </div>
            </div>

            <div class="custom-control custom-checkbox form-group {{if field_error_exist .validation "IsAdmin" }}has-error{{end}}">
              <input class="custom-control-input custom-control-input-danger" type="checkbox" id="isadmin" name="IsAdmin">
              <label for="isadmin" class="custom-control-label" style="color: #dd4b39;">Этот пользователь — администратор.</label> <span class="text-muted"> 
                &nbsp; Не администраторы могут обслуживать сертификаты, просматривать логи и подключения. Конфигурация сервера и управление пользователями недоступны.</span>
            </div>

            <div class="form-group {{if field_error_exist .validation "NewName" }}has-error{{end}}">
              <label class="col-form-label" for="newname">Имя</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-plus"></i></span>
                </div>
                <input type="text" class="form-control" id="newname" name="NewName" placeholder="Введите имя">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "NewName" }}</span>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "NewEmail" }}has-error{{end}}">
              <label class="col-form-label" for="email">Адрес эл. почты</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" id="newemail" name="NewEmail" placeholder="Введите email">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "NewEmail" }}</span>
              </div>
            </div>

            <div class="form-group {{if field_error_exist .validation "NewPassword" }}has-error{{end}}">
              <label class="col-form-label" for="newpassword">Пароль пользователя</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="newpassword" name="NewPassword" placeholder="Введите пароль нового пользователя">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "NewPassword" }}</span>
              </div>
            </div>
            <div class="form-group {{if field_error_exist .validation "NewRepassword" }}has-error{{end}}">
              <label class="col-form-label" for="newrepassword">Повторите пароль пользователя</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="newrepassword" name="NewRepassword" placeholder="Повторите пароль нового пользователя">
                <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "NewRepassword" }}</span>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary" style="width: 135px;">Создать профиль</button>
          </div>

        </form>
      </div>
 

      <!--TAB3-->
      <div class="tab-pane" id="tab_3">
        <h3>Управление профилями</h3>
        {{template "common/alert.html" .}}
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th>ID</th>
              <th>Админ</th>
              <th>Логин</th>
              <th>Имя</th>
              <th>Email</th>
              <th>Создан</th>
              <th>Последний вход</th>
              <th>Обновлён</th>
              <th>Действие</th>
            </tr>
            </thead>
            <tbody>
              {{range .users}}
              <form action="/profile/edit/{{ .Id }}" method="post">
                <tr>
                  <td>
                      {{ .Id }}
                  </td>
                  <td>
                    {{ if .IsAdmin }}
                    <i class="fa fa-fw fa-check-circle" style="color: #00a65a; font-size: 17px;" ></i>
                    {{ else }}
                    <i class="fa fa-fw fa-minus-circle" style="color: #dd4b39; font-size: 17px;" ></i>
                    {{ end }}
                  </td>
                    <td>
                      {{ .Login }}
                    </td>
                    <td>
                      {{ if eq .Id 1 }}
                        {{ .Name }}
                      {{else}}
                        <input type="text" name="name" value="{{ .Name }}" size="10" required>
                      {{end}}
                    </td>
                    <td>
                      {{ if eq .Id 1 }}
                        {{ .Email }}
                      {{else}}
                        <input type="email" name="email" value="{{ .Email }}" size="17" required>
                      {{end}}
                    </td>
                    <td>
                      {{ dateformat .Created "2006-01-02 15:04" }}
                    </td>
                    {{ $lastLoginTime := dateformat .Lastlogintime "2006-01-02 15:04" }}
                    {{if eq $lastLoginTime "0001-01-01 00:00"}}
                    <td>
                     Не входил
                    </td>
                    {{else}}
                    <td>
                      {{ dateformat .Lastlogintime "2006-01-02 15:04" }}
                    </td>
                    {{end}}
                    </td>
                    <td>
                      {{ dateformat .Updated "2006-01-02 15:04" }}
                    </td>
                    <td>
                      {{ if eq .Id 1 }}
                      <a class="btn btn-default btn-xs" disabled>Обновить</a>
                      {{else}}
                      <input type="submit" class="btn btn-primary btn-xs" title="Обновить пользователя" style="font-size: 70%;" value="Обновить">
                      {{end}}
                      {{ if eq .Id 1 }}
                      <a class="btn btn-default btn-xs" disabled>Удалить</a>
                      {{else}}
                      <a href="{{urlfor "ProfileController.DeleteUser" ":key" .Id}}" class="btn btn-danger btn-xs" title="Удалить" style="font-size: 70%" onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
                        Удалить
                      </a>
                      {{end}}
                    </td>
                </tr>
              </form>

              {{end}}
              </tbody>
            </table>
          
        </div>
      </div>

    </div>
  </div>
</div>

{{end}}
