<!-- Меню учетной записи пользователя -->
<li class="dropdown user user-menu {{if compare .RouterPattern "/profile"}}nav-item{{end}}">
  <!-- Кнопка переключения меню -->
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <!-- Изображение пользователя в панели навигации -->
    <img src="/static/img/person.png" class="user-image" alt="Изображение пользователя">
    <!-- hidden-xs скрывает имя пользователя на маленьких устройствах, чтобы отображалась только иконка -->
    <span class="hidden-xs">{{ .Userinfo.Name}}</span>
  </a>
  <ul class="dropdown-menu">
    <!-- Изображение пользователя в меню -->
    <li class="user-header">
      <img src="/static/img/person.png" class="img-circle" alt="Изображение пользователя">
      <p>
        {{ .Userinfo.Name}}
        <small>Создано {{ .Userinfo.Created.Format "02 янв, 2006" }}</small>
      </p>
    </li>

    <!-- Нижняя часть меню -->
    <li class="user-footer">
      <div class="pull-left">
        <a href="{{urlfor "ProfileController.Get"}}" class="btn btn-default btn-flat">Настройки профиля</a>
      </div>
      <div class="pull-right">
        <a href="{{urlfor "LoginController.Logout"}}" class="btn btn-default btn-flat">Выйти</a>
      </div>
    </li>
  </ul>
</li>
